In [1]:
t = ()

In [2]:
type(t)

tuple

In [3]:
l = []
type(l)

list

In [1]:
t1 = (234,34,"vikas" , 3.45,True)

In [2]:
l1 = [234,34,"vikas" , 3.45,True]

In [13]:
l1[0] = "kumar"

In [18]:
t2 = (234,54,565)

In [4]:
# t1+t2

In [5]:
# t1*4

In [6]:
# 34 in t1

In [7]:
# "fdsfds" in t1

In [57]:
tuple(l5)

(234, 34, 'sudh', 56, 3.45, 34, 34, 34, True)

In [60]:
t = ((3,4,5,6,7) , ("sdfsd",45,45) , ("454",54) , 45,454,67 , [4,5,6,7,7])

In [65]:
t[6][1:4]

[5, 6, 7]

In [67]:
t[1][0]

'sdfsd'

In [68]:
for i in t :
    print(i)

(3, 4, 5, 6, 7)
('sdfsd', 45, 45)
('454', 54)
45
454
67
[4, 5, 6, 7, 7]

In [69]:
for i in t :
    if type(i)==tuple :
        print(i[0])

3
sdfsd
454

In [71]:
t2

(234, 54, 565)

In [73]:
if len(t1) == len(t2):
    print("its same ")
else :
    print("not same ")

not same

In [74]:
t = (234, 34, 'vikas', 3.45, 34, 34, 34, True , "kumar")

In [77]:
i = input("take a user input")

if i in t :
    print("yet s your name is available ")
else :
    print("your name is not available ")

take a user input34
your name is not available

In [90]:
l = [324,343,343,34]

In [92]:
t2

(234, 54, 565)

In [93]:
x = set()

In [94]:
type(x)

set

In [119]:
s

{45}

In [120]:
s.add("sudh")

In [121]:
s.add("fsdfsfs")

In [125]:
s

{45, 'fsdfsfs', 'sudh'}

In [126]:
s.add(45)

In [131]:
s.remove(45)

KeyError: 45

In [163]:
x = {}

In [164]:
type(x)

dict

In [165]:
x1 = {34,56}

In [166]:
type(x1)

set

In [167]:
x = {"name " :"vikas"  , "age": 3455}

In [168]:
type(x)

dict

In [183]:
x1 = {"name " :"vikas"  , "age": 3455 ,True : {45,34545,454,54}, "key" : False , 34554:(45,45,45,45) , "_sfsdf" : [34,45,454,54,545]}

In [185]:
x2 = {"name " :{"k1":"wer",'k4' :[345,534535,534,]} , "age": 3455 ,True : {45,34545,454,54}, "key" : False , 34554:(45,45,45,45) , "_sfsdf" : [34,45,454,54,545]}

In [186]:
x2

{'name ': {'k1': 'wer', 'k4': [345, 534535, 534]},
 'age': 3455,
 True: {45, 54, 454, 34545},
 'key': False,
 34554: (45, 45, 45, 45),
 '_sfsdf': [34, 45, 454, 54, 545]}

In [193]:
x3 = {5:"wer",'k4' :[345,534535,534,]}

In [194]:
l = [34,45,4,54]
l[2]

4

In [195]:
x2["key"]

False

In [196]:
x2[34554]

(45, 45, 45, 45)

In [200]:
x2["_sfsdf"][3]

54

In [205]:
x2["name "]['k4'][2]

534

In [206]:
x3 = {5:"wer",'k4' :[345,534535,534,]}

In [207]:
x4 = {"k4" :"Fsdfs"}

In [212]:
x3

{5: 'wer', 'k4': [345, 534535, 534]}

In [216]:
x3['k4'] = 456

In [217]:
x3

{5: 'wer', 'k4': 456}

In [218]:
x3['k4'] -= 10

In [ ]:
x3['k4'] = x3['k4'] -10

In [219]:
x3

{5: 'wer', 'k4': 446}

In [222]:
'k4' in x3.keys()

True

In [223]:
x3.keys()

dict_keys([5, 'k4'])

In [226]:
for i in x3.keys() :
    print(x3[i])

wer
446

In [225]:
x3

{5: 'wer', 'k4': 446}

In [227]:
x2

{'name ': {'k1': 'wer', 'k4': [345, 534535, 534]},
 'age': 3455,
 True: {45, 54, 454, 34545},
 'key': False,
 34554: (45, 45, 45, 45),
 '_sfsdf': [34, 45, 454, 54, 545]}

In [228]:
x2.keys()

dict_keys(['name ', 'age', True, 'key', 34554, '_sfsdf'])

In [231]:
for i in x2.keys():
    print(type(x2[i]))

<class 'dict'>
<class 'int'>
<class 'set'>
<class 'bool'>
<class 'tuple'>
<class 'list'>

In [232]:
x2.items()

dict_items([('name ', {'k1': 'wer', 'k4': [345, 534535, 534]}), ('age', 3455), (True, {54, 34545, 45, 454}), ('key', False), (34554, (45, 45, 45, 45)), ('_sfsdf', [34, 45, 454, 54, 545])])

In [235]:
for i in x2.items():
    print(i[1])

{'k1': 'wer', 'k4': [345, 534535, 534]}
3455
{54, 34545, 45, 454}
False
(45, 45, 45, 45)
[34, 45, 454, 54, 545]

In [236]:
x5 = {(34,56,56) : "Fsdfsfsd"}

In [239]:
x5[(34,56,56) ]

'Fsdfsfsd'

In [240]:
x2

{'name ': {'k1': 'wer', 'k4': [345, 534535, 534]},
 'age': 3455,
 True: {45, 54, 454, 34545},
 'key': False,
 34554: (45, 45, 45, 45),
 '_sfsdf': [34, 45, 454, 54, 545]}

In [241]:
len(x2)

6

In [242]:
e = {56: {45, 78, 89}}
e[56]

{45, 78, 89}

In [243]:
list(e[56])[0]

89